/* src/components/tiptap.css */
.tiptap-editor p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}


.tiptap-editor {

    ul,
    ol {
        padding-left: 1.5rem;
    }
}

.tiptap-editor h1,
.tiptap-editor h2,
.tiptap-editor h3 {
    line-height: 1.1;
}